<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="error_log"
    xsi:type="File"
    layout="${longdate}|${level}| ${message}"
    deleteOldFileOnStartup="False"
    concurrentWrites="true"
     KeepFileOpen ="False"
    fileName="${basedir}/error.log"/>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" levels="Debug, Info, Warn, Error, Fatal " writeTo="error_log" />
    <!--
    ////////////////////////////////////////////////////////
    -->

  </rules>
</nlog>